![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [5]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

best_math_schools = (
    schools[schools['average_math'] >= 640]                 
    .sort_values(by=['average_math', 'school_name'], ascending=False)  
    [['school_name', 'average_math']]                     
)  


# Assuming 'total_SAT' is the sum of 'average_math' and 'average_reading' and 'average_writing'
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Creating the top_10_schools dataframe
top_10_schools = schools[['school_name', 'total_SAT']].sort_values(by='total_SAT', ascending=False).head(10)


# Creating the largest_std_dev dataframe

largest_std_dev = schools.groupby('borough')['total_SAT'].std().sort_values(ascending=False)

# Adding the average_SAT row to the dataframe
largest_std_dev = largest_std_dev.to_frame(name='std_dev')

largest_std_dev['average_SAT'] = schools.groupby('borough')['total_SAT'].mean()

# Adding the std_SAT to the df

largest_std_dev['std_SAT'] = schools.groupby('borough')['total_SAT'].std()

# Adding the num_schools row to the dataframe

largest_std_dev['num_schools'] = schools.groupby('borough')['school_name'].count()

# Rounding to 2 decimal places and making sure only the top school shows

largest_std_dev=largest_std_dev.round(2).head(1)

print(largest_std_dev)
print(best_math_schools)

           std_dev  average_SAT  std_SAT  num_schools
borough
Manhattan   230.29      1340.13   230.29           89
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641